<!DOCTYPE html>
<html>
	<head>
		<meta charset=“utf-8” />
		<meta name=“viewport” content=“width=device-width, initial-scale=1” />
		<title>Customer Registration</title>
		<link rel="stylesheet" href="reset.css" />
	
		<style>
		.inputfield {
			*position:absolute;*/
			/*margin-left:25%;*/
		}
		.formrow {
			width:500px;
			}
			
		.formrow > label {
			width:150px
			display:inline-block;
			vertical-align:top;
		}
		.formrow > input {
			display:inline-block;
		}
			[for*=corp] {
				font-size:28;
				}
			
			input:required {
				background-color:#dd0000;
			}
			h1:hover {
				background-color:#00cc00;
				
			}
			
			img:hover {
				opacity:0.5;
							
		</style>
		
		<script>
		
			var months = new Arraya("Jan", "Feb", "Mar", "Apr", "May","Jun", "Jul", "Aug", "Sep", "Oct", "Nov,"Dec");
			//months[1] this is to access feb
			
			var today = new Date();
			alert(today.getMonth());
			alert(months[today.getMonth()]);
			
			
			function validate(myform)
			{
				if (myform.firsname.value == "")
				{
					alert("First name must have a value");
					myform.firstname.focus();
					return false;
				}
				if (myform.lastname.value == "")
				{
					alert("Last name must have a value");
					myform.lastname.focus();
					return false;
					}
					return confirm("Continue submitting?");
			}
			
		</script>
	</head>
	
   <body>
	<script>
		for (i=0; i<12;i++)
		{
			document.write("<h3>" + months[i] +"</h3>");
	}
	</script>
   
   
   
   
	<header>
		<div id="div1" name="mydiv1" class="imgdiv">
		<img src="mypictures/compass.png" style="width:160px;height:160px;border:0" />
	</div>
		<h1>Enter Customer Information</h1>
	</header>
		<form action="bouncer.php" method="post">
			<div class="formrow">
			<label for="firstname">First Name </label>
			<input class="inputfield" type="text" name="firstname" required="required" /><br />
			</div>
			
			<div class="formrow">
			<label=>Last Name </label>
			<input class="inputfield" type="text" name="lastname" required="required" /><br />
			</div>
			
			<div class="formrow">
			<label for="address" >Address  </label>
			<input  class="inputfield" type="text" name="address" /><br />
			</div>
			
			<div class="formrow">
			<label for="corporate" >Corporate  </label>
			<input  class="inputfield" type="checkbox" name="corporate" /><br />
			</div>
			
			
			<div class="formrow">
			<label for="email" >Email </label>
			<input class="inputfield" type="text" name="email"  /><br />
			</div>
			
			<input type="submit" value="Send Data" onclick="return validate(this.form)"  />
			<input type="reset" value="Reset" onclick="return confirm('Really?')" />
		</form>
		

	
		
		



 
	</body>
</html>


	
	
	
	
	